@model IEnumerable<BudgetYou.Models.Dashboard>

@{

}

<br />

<div class="container">
    @foreach (var item in Model)
    {
        <p class="h4">If you would like to edit your Household name or invite click here.
        @Html.ActionLink("Edit", "Edit", "Households", new { @item.Id }, new { @class = "btn btn-danger" })
        </p>


        <p class="h4">Create account to hold budget value

            @Html.ActionLink("Add Account", "Create", "Accounts", new { @item.Id }, new { @class = "btn btn-danger" })

        </p>

    }


</div>