@{
    ViewBag.Title = "Budget-You - About";
}


<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h1 class="heading">About Budget-You</h1>
            <p class="p-lg"><h3><i>By: A Yang</i></h3></p>
           <br />
            <p class="p-lg">
                Budget-You is all about helping you as an individual save money and relieve minimum stress.  We created
                a budget application that will help you navigate through your monthly budget and transactions.  With that being said, 
                it is a good way to keep track of if you ever go over your monthly budget.
            </p>

            <p class="p-lg">This is a simple application that will help ease your mind to worry less about your financial status.</p>
            <p class="p-lg">
                Feel free to explore Budget-You and save!
            </p>
            <br />
            <p class="p-lg"><b>Contact me</b></p>
            <p class="p-lg">A Yang | Developer.ayang@gmail.com | 704-458-7170</p>
            <p class="p-lg">Personal Site: <a href=" http://ayang-personalsite.azurewebsites.net/" class="btn btn-purple"> Site</a> 
            
        </div>
        <div class="col-md-6">
            <img src="~/theme/img/cs.png" class="img-responsive" alt="" style="height:100px; width: 120px;">
        </div>
        <div class="col-md-6">
            <img src="~/theme/img/HTML5_CSS_JavaScript.png" class="img-responsive" alt="" style="height:100px; width: 120px;">
        </div>
        <div class="col-md-6">
            <img src="~/theme/img/sql.png" class="img-responsive" alt="" style="height:100px; width: 120px;">
        </div>
        <div class="col-md-6">
            <img src="~/theme/img/logo-aspnetmvc.png" class="img-responsive" alt="" style="height:100px; width: 120px;">
        </div>
    </div><!--about intro-->
    <div class="divide60"></div>


</div><!--.container-->