
    @{
        ViewBag.Title = "BudgetYou - Home";
    }

    
    <!--intro banner start-->
    <div class="banner">
        <div class="banner-slider">

            <img src="~/theme/img/Black-Background.png" class="img-responsive" alt="" style="height:920px;">

        </div>
        <div class="banner-overlay">
            <div class="banner-inner">
                <div class="banner-text">
                    <div class="row no-margin">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Budget-You</h1>
                            <p>Save a litte more, Live a little more, Spend a little more</p>
                            @if (User.Identity.IsAuthenticated == false) { 


                            <div class="buttons">
                                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-skin btn-lg btn-primary" })

                                @Html.ActionLink("Demo", "DemoIndex", "Demo", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-skin btn-lg btn-success" })
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-margin">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1 class="black">Fully Functional with</h1>
                <h5>Including</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 ">
                <img src="~/theme/img/cs.png" class="img-responsive center-block" alt="" style="height:70px; width: 120px;">
            </div>
            <div class="col-md-3">
                <img src="~/theme/img/sql.png" class="img-responsive center-block" alt="" style="height:70px; width: 120px;">
            </div>
            <div class="col-md-3">
                <img src="~/theme/img/HTML5_CSS_JavaScript.png" class="img-responsive center-block" alt="" style="height:70px; width: 120px;">
            </div>
            <div class="col-md-3 ">
                <img src="~/theme/img/logo-aspnetmvc.png" class="img-responsive center-block" alt="" style="height:70px; width: 120px;">
            </div>
        </div>
    </div>
    <!--banner end-->

