@model IEnumerable<BudgetYou.Models.Invitation>

@{
    ViewBag.Title = "Budget-You - Invitations";
}


<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h2 class="pull-left"><i class="fa fa-table black"></i> Invitations</h2>

                <div class="pull-right">@Html.ActionLink("+ Invite", "Create", null, new { @class = "btn btn-success" })</div>
                <div class="clearfix"></div>
            </div>

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table ">
                        <thead>
                            <tr>
                                <th>Household Name</th>
                                <th>To Email</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Households.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToEmail)
                                    </td>
                                  
                                    <td>
                                    
                                        <a href="@Url.Action("Delete", "Invitations", new { id = item.Id })"><i class="fa fa-trash-o red fa-2x"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>


                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {

    <script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
			   "sPaginationType": "full_numbers"
			});
		});

    </script>

}